#root {
  margin: 0;
}

body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

img{
  height: 350px;
  object-fit: cover;
}

#list-container{
  height: 90vh;
}

.nav-custom-height{
  height: 8vh;
}

.main-section{
  height: 70%;
}

.main-section  > *{
  height: 100%;
}

.comment-section{
  height: 25%;
}

textarea{
  resize: none;
}

/* Custom media queries */
@media (max-width: 575px) {
  header{
    flex-direction: column;
  }
  
  .book{
    width: 200px;
  }
}